body {
    font-family: Arial, sans-serif;
    background-color: #4C1453;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.header {
    background-color: #4C1453;
    color: white;
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.profile-image {
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid white;
    width: 100;
    height: 100;
}
.profile-info {
    margin-top: 10px;
}
.profile-info h2 {
    margin: 10px 0 0;
    font-size: 20px;
}
.profile-info p {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}
form {
    margin-top: 20px;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4C1453;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.images,
.reels {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.images img,
.reels img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.update-btn {
    width: 100%;
    background-color: #4C1453;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}