{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Story Viewer</title>
<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="app-container">
    <header>
        <div class="profile-info">
            <img src="" alt="Profile Picture">
            <p>Profile Name </p>
       
    </header>
    <main>
        <div class="content">
            <img class="dating-img" src="/static/img/datin1.jpg" alt="image not found">
            <p class="tea-time ">#TeaTime</p>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="password.html">Password Change</a></li>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            
        </div>
    </main>
    <footer>
        <button>New</button>
        
    </footer>
</div>
</body>
</html>