<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/css/password.css">
</head>
<body>
    <div class="container" >
        <div class="header">
            <h1>Change Password</h1>
        </div>
       
        <p>Feeling worried about your account been easily prayed on? Then change that password now!</p>
        <form>
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="Current Password">

            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="New Password">

            <label for="confirm-password">Conform Password</label>
            <input type="password" id="confirm-password" name="Conform Password">

            

            <button type="submit" class="update-btn">Update</button>
        </form>
    </div>
</body>
</html>